<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userDAO">

 <select id="list" resultType="kr.co.profile.user.VO.userVO">
  select * from profileUser
 </select> 
 
 <select id="selectOne" parameterType="String" resultType="Integer">
	select userCount(*) from profileUSer
	where userId = #{userId}
 </select>
 
 <insert id="insert" parameterType="kr.co.profile.user.VO.userVO">
	insert into profileUser (userName,userId,userPassword,userEmail,userPhone,userAddress,userSkill)
	values (#{userName}, #{userId}, #{userPassword}, #{userEmail}, #{userPhone}, #{userAddress}, #{userSkill})
 </insert>  

</mapper>
